/* 
li{list-style: none;}
.box{width: 1080px; border: solid 1px gray;}
span{font-size: 16px; font-weight: bold; margin-right: 3px;}
input{margin-right: 5px; padding-bottom: 10px; background-color: white; border: solid 1px rgb(226, 175, 175); border-radius: 5px;}
ul{display: flex; justify-content: space-between; margin: 0px 200px;}
ul > button{margin: 0px 47px 5px 0px ; color: red; background-color: white; border: 1px solid rgb(240, 112, 112); border-radius: 5px;}
.addbtn{padding-bottom: 10px; background-color: white; border: 1px solid rgb(240, 112, 112); border-radius: 5px;}
.phoe{margin-left: 15px;}
.ag{margin-left: 15px;}
h6{text-align: left; margin-left: 246px; color: gray;}
 */
