<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.실습.실습6.XmlMapper">
    <select id="" parameterType="map" resultType="org.example.실습.실습6.XmlMapper">
        SELECT b.title , r.id FROM books b inner join rentals r on title.b = r.id;
    </select>

</mapper>